<!DOCTYPE html>
<html>
<head>
	<title>Car Showroom Web</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
		.navbar{
			background-color:rgb(51, 42, 42);
			padding: 14px;

		}
        .body{
			background-color:rgb(200, 206, 215);
		}
		
	</style>

   
    
</head>
<body class="body">
	
	<nav class="navbar navbar-expand-lg my-2">
		<a class="navbar-brand" href="#">Maruti suzuki</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active mx-2">
			  <a class="nav-link" href="#">Home </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">About us</a>
			  </li>
		<li class="nav-item active">
				<a class="nav-link" href="#">Contact us</a>
			  </li>
			  
			
		  </ul>
		  <button type="submit" class="btn btn-primary mx-2" id="login-btn" onclick="authenticate()">Log In</button>

		  <button type="submit" class="btn btn-primary" id="signup-btn" onclick="validateForm()">Sign Up</button>
		   
		</div>
	  </nav>


      
	<h1><b>About Us</b></h1>
	<p>Maruti Suzuki India Limited (formerly Maruti Udyog Limited) is the Indian subsidiary of Japanese automaker Suzuki Motor Corporation. As of September 2022,
         the company had a leading market share of 42 percent in the Indian passenger car market.</p>

	<h2><b>History</b></h2>
	<p>Maruti Udyog Limited was founded as a joint venture in February 1981 by the Government of India with Suzuki Motor Corporation as a minor partner. 
        In 2003, the Government of India sold most of its stake to Suzuki Motor Corporation and later, completely exited the company in 2007.
         The first manufacturing factory of Maruti was established in Gurugram, Haryana, India in 1982. In 1982, a license and joint venture agreement (JVA) was signed between Maruti Udyog Ltd.
          and Suzuki of Japan. At first, Maruti Suzuki was mainly an importer of cars. In India's closed market, Maruti received the right to import 2 fully built-up Suzuki in the first two years, 
          and even after that, the early goal was to use only 33% indigenous parts.<br><br>
          In 1985, the Suzuki SJ410-based Gypsy a 970 cc 4WD off-road vehicle, was launched. In 1986, the original 800 was replaced by an all-new model of the 796 cc hatchback Suzuki Alto (SS80), 
          and the 100,000th vehicle was produced by the company.[15] In 1987, the company started exporting to western markets, 
          when a lot of 500 cars were sent to Hungary. By 1988, the capacity of the Gurgaon plant was increased to 100,000 units per annum.In 2000, Maruti became the first car company in India
           to launch a call center for internal and customer services. The new Alto model was released. In 2001, Maruti True Value, selling
           and buying used cars was launched. In October of the same year, the Maruti Versa was launched. In 2002, Esteem Diesel was introduced.<br><br>
        
        
        </p>
	
    

</body>
</html>




